body{
    background-color:antiquewhite;
    color:seagreen
    margin : 0px;
    font-family: "Lora", serif; }
header{border-bottom: solid 4px rgb(255,20,147);
    padding: 20px;
    font-size: 50px;
    color: rgb(220,20,60);}
    .chamada {background-color: lightcoral;
    padding-bottom: 80px;
    padding-top: 25px;
    }